.error {
    color: #5a5c69;
     font-size: 1em  !important;
    position: relative;
    line-height: 1;
    /* width: 12.5rem; */
    font-weight: bold;
    color: red;
    width: 100%;
}
 ul {
    background-color: transparent  !important;}
    .btn.btn-flat {
    border-radius: 19px;}
    .usertypep{
        margin-bottom:0; 
        padding-left: 0.9em;
    }
    .input-usertype{
        margin-left: 0.9em !important;
    }
    .label-usertype{
        font-weight: 500 !important;
    }

    